<section class="flex justify-center items-center flex-col mt-16">
  <p class="text-black font-bold text-5xl">Welcome</p>
  <p class="text-black font-bold text-3xl mt-3 mb-10"><%= current_user.email %></p>
  <hr class="w-full">
</section>