<%= render "dashboard/welcome" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-center flex-col items-center w-full pt-10">
    
    <div class="items-center">
      <%= link_to 'New wallet', new_wallet_path, class: "btn--gradient items-center w-full" %>
    </div>

    <div class="mt-10">
      <div id="wallets" class="grid grid-cols-3 gap-10">
          <%= render @wallets %>
      </div>
    </div>

  </div>
</div>





